
body {
  background-color: rgb(10, 107, 79);
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.card {
  flex: 1;
  background: cadetblue;
  margin: 20px 20px;
  text-align: center;
  height: 100%;
  flex-wrap: wrap;

}
h2.card-title {
  border: 1px solid lightblue;
}
.card img {
  width: 100%;
  height: auto;
}
.availability {
  text-align: center;
  background-color: darkgray;
  color: yellow;
}
h3.spacifications {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
